body {margin:0; pedding:0;}
.wrapper{

  background: #CCCCCC;

}
nav {

  background:red;

}

.navlinks{
  list-style-type: none;
}
.navlinks li {
  display: inline;
}
.navlinks a {

  color: white;

}
.left {

  background: white;

}
.right {

  background: #333333;
  color: white;

}
footer {

  background: black;
  color: white;

}
