body {margin:0; pedding:0;}
.wrapper{
  display:block;

  width: 100%;
  max-width:1080px;
  min-height:500px;

  box-sizing: border-box;
}
nav {
  display: block;


}

.navlinks{
  list-style-type: none;
}
.navlinks li {
  display: inline;
}
.navlinks a {
  text-decoration: none;

  display: inline-block;
  padding: 10px;
}
.left {
  display: inline-block;
  vertical-align: top;
  width: 20%;
  min-height: 500px;
  padding: 30px;
  box-sizing: border-box;
  height: 100%;
}
.right {
  display: inline-block;
  vertical-align: top;
  width: 59%;
  min-height: 500px;
  padding: 30px;
  box-sizing: border-box;
    height: 100%;
}
footer {
  display: block;

  padding: 10px;
}
