body {
  margin: 0;
  padding: 0
}
header {
    background-color: #F1F1F1;
    text-align: center;
    padding: 20px;
}
/* The navbar container */
nav {
   overflow: hidden;
   background-color: #333;
}

/* Nav links */
nav li  {
   color: #f2f2f2;
   text-decoration: none;
}
nav a  {
   color: #f2f2f2;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
}
/* Links - change color on hover */
nav a:hover {
   background-color: #ddd;
   color: black;
}
/* Create two equal columns that align next to each other */

/* Create three equal columns that align next to each other */
.column2, .column3, .columnLeft, .columnRight {
    background: #f1f1f1;
    min-height: 200px;
}

footer {
  padding: 10px;
  color: white;
  background: black
}
