body {
  margin: 0;
  padding: 0

}
h1{
  letter-spacing: 3px;

}
header {
    background-color: #332900;
    text-align: center;
    padding: 20px;
    color: white;
}
/* The navbar container */
nav {
   overflow: hidden;
   background-color: #e6b800;
   color: black;
}

/* Nav links */
nav li  {
   color: #f2f2f2;
   text-decoration: none;
}
nav a  {
   color: #f2f2f2;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
}
/* Links - change color on hover */
nav a:hover {
   background-color: #ddd;
   color: black;
}
/* Create two equal columns that align next to each other */

/* Create three equal columns that align next to each other */
.column2, .column3, .columnLeft, .columnRight {
    background: #ffffff;
    min-height: 200px;
}

footer {
  padding: 10px;
  color: white;
  background: #cca300;
}
