nav ul {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}
nav li  {
   display: block;
   text-align: center;
   text-decoration: none;
   margin: 0
   padding-top: 10px;
   padding-bottom: 10px;
   width: 100%;
   box-sizing: content-box;

}
nav a {
  width: 100%;
  display: block;
}

.column3, .column2, .columnLeft, .columnRight {
    display: block;
    width: 100%;
    box-sizing: content-box;
    margin-top: 10px;
}
.gallery img {
  width: 80%;
  display: block;
  margin: 20px;
  margin-left: auto;
  margin-right: auto;

}
